* {
	color: white;
	font-family: thrones;
}

body {
	background-color: black;
}

@font-face {
	font-family: "thrones";
	src: url('game_of_thrones.ttf') format("truetype");
}

@font-face {
	font-family: "thrones";
	src: font-url('game_of_thrones.ttf') format("truetype");
}

.landing {
	background-image: url("http://getwallpapers.com/wallpaper/full/9/f/f/31472.jpg");
	background-position: bottom center;
	height: 100vh;
}

header * {
	background-color: black;
	display: flex;
	font-size: 60px;
	justify-content: center;
	padding: 50px 0 40px 0;
}

a, a:visited{
     color: white;
}

.new {
	text-align: center;
	background-color: black;
	padding-bottom: 20px;
}

.house {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 20%;
	padding: 2%;
	box-sizing: border-box;
}

.house * {
	width: 100%;
	text-align: center;
}

.houses-wrapper {
	display: flex;
	flex-wrap: wrap;
	background-image: url("https://www.walldevil.com/wallpapers/w02/792734-a-song-of-ice-and-fire-fan-art-game-of-thrones-hbo-house-martell-martell.jpg");
}

.indiv-house {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.name-image {
	display: flex;
	justify-content: center;
	width: 40%;
	flex-wrap: wrap;
	box-sizing: border-box;
	padding: 0 10%;
	text-align: center;
}

.name-image * {
	width: 100%;
}

.sigil {
	font-size: 25px;
	width: 60%;
}

