<div class="new"><%= link_to "+ + add House + +", new_house_path %></div>

<div class="houses-wrapper">
	<% @houses.each do |house| %>
	<div class="house">
		<img class="crest" src="<%= house.image %>" alt="<%= house.sigil %>">
		<div><%= link_to house.name, house %></div>
	</div>
	<% end %>
</div>